.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 2;
}

.logo_place_header:hover {
  opacity: 0.5;
  transition: 0.5s
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
  overflow: hidden;
}

.header-link {
  text-decoration: none;
  color: #2f80ed;

}

.header-link:hover {
  opacity: 0.5;
  transition: 0.5s
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  margin: 0 0 0 64px;
  font-weight: bold;
  z-index: 3;

}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
  margin: 0;
  bottom: 30px;
  left: 64px;
  position: absolute;
  z-index: 3;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  margin: 0 auto;
  z-index: 2;
  right: 0;
  bottom: 0;

}

.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  background-color: #2f80ed;
  justify-content: flex-end;
  position: absolute;
  right: 0;

}

.rotation {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*section description*/
.description {
  display: flex;
  margin-top: 100px;
  justify-content: center;

}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  min-width: 784px;
}

.two-columns__brief {
  max-width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}


.two-columns__main-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 80%;
  gap: 30px;


}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__span-accent {
  font-weight: bold;
}

/* section digits*/
.digits {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin: 0 0 20px;
  justify-content: center;
  display: flex;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0px;
  justify-content: center;
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 0 100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0px 0px;
}

/*section feynman*/
.feynman {
  min-height: 890px;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/feynman.png) no-repeat bottom left #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  max-width: 648px;
  margin: 100px 0 0;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0px 0px;
  z-index: 2;


}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 0.5s
}

/*section kaufman*/
.kaufman {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

}

.table_theme_dark {
  margin: 0px 0px 90px;

}

.section-title_theme_dark {
  margin-top: 90px;
  z-index: 2;
}

.section-subtitle_theme_dark {
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  z-index: 2;

}

.table__text_theme_dark {
  z-index: 2;
}

.kaufman_theme_dark {
  color: white;
  z-index: 2;
}

.kaufman-triangle {
  position: absolute;
  z-index: 1;
  width: 877px;
  height: 877px;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}

/*section footer*/
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0px 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;

}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.logo_place_footer:hover {
  opacity: 0.5;
  transition: 0.5s
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: 0.5s
}

.footer__column-link-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

/*section techniques*/
.techniques {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  margin: 0 auto;
}

.cards {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0 100px;
}

.cards__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 240px;
  margin: 60px 0 0;
  padding: 0;
}

.cards__image {
  margin: 60px 40px 43px 40px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

/*section video*/
.video {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

.video__iframes {
  display: flex;
  gap: 20px;
  z-index: 2;
  margin: 50px 0 -50px;
}

/*section oakley*/
.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
}

/*section khan*/
.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 0 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;

}

.khan__book-pic {
  max-width: 620px;
  max-height: 608px;
  margin: 0 48px 0 0;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.5s
}

/*section resourcws*/
.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resources__logo-zone {
  max-width: 1100px;
  margin: 80px auto 217px;
}

.resources__link {
  display: flex;
  justify-content: center;

}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__logo:hover {
  opacity: 0.5;
  transition: 0.5s
}